
 <ul class="navbar-nav">
   <% if user_signed_in? %>
        <li class="nav-item">
    <%= link_to "xin chào "+ current_user.email + " !", user_path(current_user), class:"nav-link text-dark", id: 'manage'  %> 
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" href= "#"><i class="bi bi-cart" style="font-size: 18px; vertical-align: middle;"></i> Giỏ hàng</a>
        </li>

          <li class="nav-item">
            <a id="logout" class="nav-link btn btn-link text-dark" href= "/users/sign_out" data-method="delete"><i class="bi bi-box-arrow-left" style="font-size: 18px; vertical-align: middle;"></i>&nbspĐăng xuất</a>
        </li>
        <% if current_user.admin == true  %>
    <%= render 'layouts/AdminDropdownMenu' %>
         <% end %>
  <% else %>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" href="/users/sign_up"><i class="bi bi-pencil-square" style="font-size: 18px; vertical-align: middle;"></i>&nbspĐăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark " id="login" href="/users/sign_in"><i class="bi bi-box-arrow-in-right" style="font-size: 18px; vertical-align: middle;"></i>&nbspĐăng nhập</a>
        </li>
   <% end %>
</ul> 